<div class="row">
    <div class="col-sm-4">
        <chtnvs ng-model="value.Category" label="Category" group="g.groupByCategory" dimension="d.byCategory"></chtnvs>
    </div>
    <div class="col-sm-4">
        <chtnvs ng-model="value['Anatomic Site']" label="Anatomic Site" group="g.groupByAnatomicSite" dimension="d.byAnatomicSite"></chtnvs>
    </div>
    <div class="col-sm-4">
        <chtnvs ng-model="value.Subsite" label="Subsite" group="g.groupBySubsite" dimension="d.bySubsite"></chtnvs>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <chtnvs ng-model="value.Diagnosis" label="Diagnosis" group="g.groupByDiagnosis" dimension="d.byDiagnosis"></chtnvs>
    </div>
    <div class="col-sm-6">
        <chtnvs ng-model="value['Diagnosis Modifier']" label="Diagnosis Modifier" group="g.groupByDiagnosisModifier" dimension="d.byDiagnosisModifier"></chtnvs>
    </div>
</div>
